:root {
  --value: 85;
  --col: #31dbf2;
}

.html {
  --value: 85;
  --col: #31dbf2;
}

.css {
  --value: 91;
  --col: #31dbf2;
}

.js {
  --value: 68;
  --col: #31dbf2;
}

.w3-white {
  background-color: #040e46 !important;
}

#mySidebar {
  display: none;
}

.pro1 {
  width: 100%;
}

#skill {
  padding: 140px 16px;
}

.ninty {
  width: 90%;
}

.etyfive {
  width: 85%;
}

.seventyfive {
  width: 75%;
}

#about {
  padding: 85px 16px 0 16px;
}

#certificatediv {
  padding: 5px 16px;
}

#ddd {
  margin-top: 20px;
}

a {
  color: white !important;
}

body {
  background-color: #052b3c;
  color: white;
}

.w3-wide {
  font-family: sans-serif;
  font-weight: bold !important;
  color: white !important;
  font-size: 14px;
}

h1,
p {
  color: white !important;
}

#Name {
  color: black;
  margin-left: 142px;
  font-weight: 900;
}

.w3-display-bottomleft {
  margin-left: 142px !important;
  padding: 24px 48px;
}

.fa {
  border-radius: 50%;
  display: inline !important;
  padding: 10px !important;
  color: #31dbf2;
  border: 1px solid #31dbf2;
  font-size: 12px;
}

#objective {
  color: black;
  font-size: 18px;
}

.objective {
  height: 150px;
  width: 509px;
  margin-left: 142px;
}

#logo {
  margin-left: 750px;
  margin-top: 90px;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  border: 2px solid #511f52;
}

#logoLeft {
  margin-left: 175px;
  margin-top: -100px;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  float: left;
  border: 2px solid #511f52;
}

#aboutme {
  text-align: justify;
  margin-left: 500px;
  margin-right: 40px;
}

.certificate {
  padding: 2px;
  width: 300px;
  height: 200px !important;
  margin: 2px;
}

#seemore {
  margin-left: 565px;
}

.w3-left {
  margin-left: 100px;
  display: block;
  float: none !important;
}

.project {
  height: 200px;
  width: 100%;
}

#project {
  padding: 50px 16px 0 16px;
}

.w3-card {
  background-color: black;
}

@keyframes eb-progress {
  to {
    --eb-progress-value: var(--value);
  }
}

.eb-progress-bar {
  --size: 4.5rem;
  --inner-bg: #f2f2f2;
  --primary-color: var(--col);
  --secondary-color: #dfe0e0;

  display: flex;
  margin-left: 100px;
  justify-content: center;
  align-items: center;
  box-shadow:

    0 0 2px rgb(0 0 0 / 40%),
    inset 0 0 1px rgb(0 0 0 / 30%),
    0 1px 2px rgb(0 0 0 / 60%),
    0 4px 2px rgb(0 0 0 / 20%),
    0 9px 4px rgb(0 0 0 / 10%),
    inset 0 2px 1px #ffffff8c;
  width: var(--size);
  height: var(--size);
  font-size: calc(var(--size) / 5);
  color: var(--primary-color);
  background:
    radial-gradient(
      closest-side,
      var(--inner-bg) 79%,
      transparent 80% 100%
    ),
    conic-gradient(
      var(--primary-color) calc(var(--eb-progress-value) * 1%),
      var(--secondary-color) 0
    );
  border-radius: 50%;
}

.eb-progress-bar-wrapper {
  place-items: center;
  gap: 0.5rem;
  padding: 1rem;
  transform: scale(1.5);
  display: inline-block;
}

.eb-progress-bar,
.eb-progress-bar::before {
  animation: eb-progress 2s 1 forwards;
}

.eb-progress-bar::before {
  counter-reset: percentage var(--eb-progress-value);
  content: counter(percentage) "%";
  font-weight: 400;
  font-size: 15px;
  color: #9e9e9e;
  background: #f5f6f7;
  background-image:
    -webkit-gradient(
      linear,
      right top,
      right bottom,
      color-stop(0%, #fff),
      color-stop(100%, #d3d1cb)
    );
  box-shadow: 1px 1px 3px rgb(0 0 0 / 15%);
  padding: 10px 10px;
  border-radius: 50%;
  z-index: 1;
  position: relative;
  border: 1px solid #d0d0d0;
}

.eb-progress-bar-title {
  text-align: center;
  color: inherit;
  letter-spacing: 2px;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
}

progress {
  visibility: hidden;
  width: 0;
  height: 0;
}

.pleft {
  float: left;
  margin-left: 20px;
  margin-top: 25px;
  font-size: 28px;
  font-weight: 800;
}

.w3-grey {
  background-color: black !important;
  border-radius: 20px !important;
  height: 25px !important;
}

.w3-dark-grey {
  background-color: #31dbf2 !important;
  border-radius: 20px !important;
  height: 25px !important;
}

.row-2,
.row-1 {
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.prskill {
  margin-left: 215px;
}

.divpadding {
  padding: 30px;
}

.innerdiv {
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

.w3-border {
  border-radius: 20px;
  border: 2px solid #31dbf2 !important;
}

input {
  background-color: #98a9af;
  padding: 10px !important;
}

.msg {
  height: 100px;
}

.send-btn {
  border-radius: 20px;
  border: 2px solid #31dbf2;
  background-color: #052b3c;
  margin-left: 130px !important;
  color: white;
  width: 250px;
  height: 40px;
}

input::placeholder {
  color: white;
}

.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.social {
  text-align: center;
}

.outerdiv {
  margin-top: 10px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.eb-progress-bar-title > p {
  font-size: 9px;
  font-weight: 100;
  letter-spacing: 0;
  margin-left: 95px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #Name {
    margin-left: 0;
    font-size: 24px;
    margin-top: 60px;
  }

  .objective {
    height: auto;
    width: auto;
    margin-left: 0;
  }

  #objective {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  .know {
    display: none;
  }

  .w3-display-left {
    display: block;
    margin-top: 130px;
    align-items: center;
    padding: 48px;
  }

  .w3-display-bottomleft {
    align-items: center;
    margin-top: 280px;
    position: relative;
  }

  .button {
    margin-top: 30px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .w3-about {
    display: flex;
    width: 100%;
  }

  #aboutme {
    margin-left: 0;
  }

  #logoLeft {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    margin-top: 0;
    float: none;
  }

  .aboutme {
    padding: 50px 16px !important;
  }

  .h1about {
    margin-top: 0;
  }

  .w3-left {
    font-size: 18px;
    font-weight: 800;
  }

  .prskill {
    margin-left: 80px;
    margin-top: 30px;
  }

  .certificate {
    width: 100%;
  }

  .msr {
    margin-top: 20px;
  }

  .dwnldcv {
    margin-top: 80px;
  }

  .pleft {
    display: none;
  }

  .eb-progress-bar-wrapper {
    display: inline-block;
    width: 45%;
  }

  .eb-progress-bar {
    margin-left: 20px;
  }

  .headings {
    display: block !important;
    padding: 20px;
  }

  .headings > strong {
    padding: 0 33px;
  }

  .w3-wide-skill {
    font-size: 14px;
  }

  .contactme {
    padding: 30px 30px !important;
  }

  .innerdiv {
    display: block;
    width: 100%;
  }

  .outerdiv {
    border: none !important;
    background-color: transparent !important;
    display: block !important;
  }

  .send-btn {
    margin-left: 20px !important;
  }

  .w3-black {
    margin-top: 59px !important;
  }

  #seemore {
    margin: 10px;
  }

  .eb-progress-bar-title > p {
    font-size: 9px;
    font-weight: 100;
    letter-spacing: 0;
    margin-left: 0;
  }
}
